!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BddTalk
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Halant|Nunito Sans', media: 'all'
    = stylesheet_link_tag    '/normalize.css', media: 'all'
    = stylesheet_link_tag    '/application.css', media: 'all'
  %body
    - flash.each do |key, value|
      %div{ class: "alert alert-#{key}" }= value

    .container= yield
